
<li class="dropdown" data-admin-menu>
    <a href="#">Admin <span class="glyphicon-chevron-down"></span></a>  
    <ul class="dropdown-menu" role="menu">
        <!--TODO Place ITEMS-->


    </ul>
</li>
