@model int
<a type="button" class="btn btn-primary btn-sm" style="margin-right: 0.25rem;" href="@Url.Action("Edit", new { id = Model } )">
    <i class="glyphicon glyphicon-pencil" ></i>
    <span>Edit</span>
</a>

